# 忽略 Python 编译文件
*.pyc
_pycache_

# 忽略虚拟环境
venv/
env/

# 忽略日志和临时文件
*.log
*.tmp

# 忽略数据文件
DyGraphs/
MRCNN/
datasets/
sir_results/

# 忽略 IDE 配置文件夹和临时文件
.idea/
tau/
model_registry/
External Libraries/

# 忽略其他特定文件
.DS_Store

